div {
    font-family: Helvetica;
    background-color: #272D33;
    color: white;
    font-size: 32px;
    padding: 5px;
 }

 nav {
    background-color: #272D33;
    padding: 5px;
    display: flex;
    justify-content: space-around;
 }

 img {
    width: 60px;
 }

 .items:hover {
    background-color: gray;
    opacity: 0.5;
 }

 a {
    width: 20%;
    text-align: center;
    text-decoration: none;
 }
 
#Education {
   background-color: white;
   color: black;
    text-align:left
} 

#Name {
   background-color: white;
   color: blue;
}

#Background {
   background-color: white;
    color: black;
}

#Experience {
   background-color: white;
    color: black;
}
#Hobbies {
   background-color: white;
   color: black;
}

#Resume {
   background-color: white;
   color: black;
}

img{
   width: 300px; 
   height: auto; 
   display: flex;
}